<h1>Fornitori non qualificati</h1>
<div class="clear"></div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">R_D_Sociale</th>
        <th scope="col">sede_Legale</th>
        <th scope="col">sede_Operativa</th>
        <th scope="col">telefono</th>
        <th scope="col">fax</th>
        <th scope="col">e_mail</th>
        <th scope="col">data_inizio</th>
        <th scope="col">cod_fiscale</th>
        <th scope="col">partita_iva</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ='let item of tempFornitori'>
        <td> {{item.id_qualificationvendor}} </td>
        <td> {{item.R_D_Sociale}} </td>
        <td> {{ item.sede_Legale}} </td>
        <td> {{ item.sede_Operativa}} </td>
        <td> {{ item.telefono}} </td>
        <td> {{ item.fax}} </td>
        <td> {{ item.e_mail}} </td>
        <td> {{ item.data_inizio}} </td>
        <td> {{ item.cod_fisc}} </td>
        <td> {{ item.p_iva}} </td>
      </tr>
    </tbody>
  </table>
  
